@font-face {
  font-family: cairo;
  src: url("../fonts/Cairo-Bold.ttf");
}
html,
body {
  font-family: cairo !important;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.back {
  position: fixed;
  background-color: #1a0b2e;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 9998;
}

#progress-bar-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 5px;
  background-color: #311b4d;
  z-index: 9999;
  border-radius: 10px;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background-color: #6f00ff;
  transition: width 0.2s ease-in-out;
  border-radius: 10px;
}
.back,
#progress-bar-container {
  opacity: 1;
  visibility: visible;
}

.Myhidden {
  animation: fadeOut 0.5s forwards;
  visibility: hidden;
}
